.footer {
    height: 60px;

    background-color: var(--color-primary-900);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 24px;

    font-size: 0.875rem;
    color: var(--color-text-inverse, #cbd5e1);
}