.card {
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-left: 5px solid #2563eb;
    width: 250px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
}